@using Mss.WorkForce.Code.Web.Services
@inject ILocalizationService L

<div class="password-container horizontal">
    <div class="password-input-group">
        <label for="@InputId" class="mlx-form-label mb-1">@PASSWORD</label>
        <div class="password-input-wrapper">
            <input id="@InputId"
            type="@PasswordInputType"
            class=""
            @bind:event="oninput" @bind:get="Password" @bind:set="OnPasswordChanged"
            placeholder="@L.Loc("Enter password")"
                   autocomplete="new-password" />
            <span class="@IconClass" @onclick="() => ToggleVisibilityPassword(() => _isPasswordVisible = !_isPasswordVisible)" tabindex="10000"></span>
        </div>
    </div>

    @if (RequestConfirm)
    {
        <div class="password-input-group">
            <label for="@ConfirmInputId" class="mlx-form-label mb-1">@CONFIRMPASSWORD</label>
            <div class="password-input-wrapper">
                <input id="@ConfirmInputId"
                type="@ConfirmInputType"
                class=""
                @bind:event="oninput" @bind:get="ConfirmPassword" @bind:set="OnConfirmPasswordChanged"
                placeholder="@L.Loc("Confirm password")"
                       autocomplete="new-password" />
                <span class="@IconClassConfirmPassword" @onclick="() => ToggleVisibilityPassword(() => _isConfirmPasswordVisible = !_isConfirmPasswordVisible)" tabindex="10000"></span>
            </div>
        </div>
    }
</div>

<style>
    .password-container {
        position: relative;
        width: 100%;
        margin-bottom: 1rem;
    }

    .password-input-group {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .password-container.horizontal {
        display: flex;
        gap: 1rem;
        align-items: flex-start;
    }

    .password-input-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        flex:1;
    }

    .password-input-wrapper input:hover {
        background-color: var(--sp-color-bg-default) !important;
        border: solid 1px var(--gl-color-blue-300) !important;
        border-radius: 4px !important;
        box-shadow: none !important;
    }

    .password-input-wrapper input {
        width: 100%;
        padding-right: 30px;
            
        height: 35px !important;
            border: solid 1px var(--sp-color-border-default) !important;
            background-color: var(--sp-color-bg-default) !important;
            border-radius: 4px !important;
            
            font-family: 'Segoe UI' !important;
            text-overflow: ellipsis !important;
            font-size: 14px !important;
            font-style: normal !important;
            font-weight: 400 !important;
            line-height: 17.5px !important;
            color: var(--sp-color-content-default) !important;
    }

    .password-input-wrapper input:focus {
        outline: none;
        border-color: var(--gl-color-blue-300);
        box-shadow: none;
    }

    .password-input-wrapper .mlx-ico-show,
    .password-input-wrapper .mlx-ico-hide {
        position: absolute;
        right: 10px;
        font-size: 16px;
        color: #007bff;
        cursor: pointer;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
    }
</style>

@code {
    [Parameter]
    public string Password { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> PasswordChanged { get; set; }

    [Parameter]
    public string InputId { get; set; } = "password";

    [Parameter]
    public bool RequestConfirm { get; set; } = false;

    [Parameter]
    public EventCallback<bool> PasswordsMatchChanged { get; set; }

    [Parameter]
    public EventCallback<string> ValidationChanged { get; set; }

    private bool _isPasswordVisible = false;
    private bool _isConfirmPasswordVisible = false;

    private string PasswordInputType => _isPasswordVisible ? "text" : "password";
    private string ConfirmInputType => _isConfirmPasswordVisible ? "text" : "password";
    private string IconClass => _isPasswordVisible ? "mlx-ico-hide" : "mlx-ico-show";
    private string IconClassConfirmPassword => _isConfirmPasswordVisible ? "mlx-ico-hide" : "mlx-ico-show";

    private string ConfirmPassword { get; set; } = string.Empty;
    private string ConfirmationError { get; set; } = string.Empty;
    private string ConfirmInputId => $"{InputId}-confirm";

    private string PASSWORD => L.Loc("password");
    private string CONFIRMPASSWORD => L.Loc("Confirm password");
    private string PASSWORDEMPTY => L.Loc("Password cannot be empty.");
    private string PASSWORDNOTMATCH => L.Loc("Passwords do not match.");


    protected override void OnInitialized()
    {
        ConfirmPassword = Password;
        NotifyValidation().Wait();
    }

    private async Task OnPasswordChanged(string value)
    {
        Password = value;
        if (PasswordChanged.HasDelegate)
                 await PasswordChanged.InvokeAsync(Password);
        
        await NotifyValidation();
        await InvokeAsync(StateHasChanged);
    }
 
    private void ToggleVisibilityPassword(Action state)
    {
        state.Invoke();
        StateHasChanged();
    }

    private async Task NotifyValidation()
    {
        if (string.IsNullOrEmpty(Password))
        {
            ConfirmationError = PASSWORDEMPTY;
        }
        else if (RequestConfirm && Password != ConfirmPassword)
        {
            ConfirmationError = PASSWORDNOTMATCH;
        }
        else
        {
            ConfirmationError = string.Empty;
        }

        if (ValidationChanged.HasDelegate)
        {
            await ValidationChanged.InvokeAsync(ConfirmationError);
        }
    }

    private async Task OnConfirmPasswordChanged(string newValue)
    {
        ConfirmPassword = newValue;
        await NotifyValidation();
        await InvokeAsync(StateHasChanged); 
    }


    private void ValidatePasswords()
    {
        if (RequestConfirm)
        {
            if (Password != ConfirmPassword)
            {
                ConfirmationError = PASSWORDNOTMATCH;
            }
            else
            {
                ConfirmationError = string.Empty;
            }
        }
    }

}